{% include 'header.html' %}

<main class="container mb-5 main-padding">
    <div class="content-wrapper">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('projects_page') }}">Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">First year Master’s thesis</li>
            </ol>
        </nav>

        <h1 class="h1-project projects-color">Second year Master’s thesis</h1>
        <p>In my Master’s program I had the option to write two theses: one at the end of the first year and another at the end of the second year. The thesis “Exploring Cognitive Processes in AI-Assisted Academic L2 Writing” was written at the end of my second year.</p>
        <p>For the second year thesis I investigated the cognitive processes involved when second language writers of English (i.e., people writing in a English as a foreign language) use AI tools to help them, as well as how they used it. Another research question involved if there is an identifiable relationship between data about writing processes collected with keystroke loggers (programs that register each press of a keystroke along with a time stamp) and the frequency of writing suggestions made by the AI.</p>

        <object data="{{ url_for('static', filename='docs/Sellstone_CogSci_Master_15ects.pdf') }}" width="100%" height="600px">
            <p>
                You can download the thesis here if the PDF is unable to display: 
                <a href="https://urn.kb.se/resolve?urn=urn:nbn:se:umu:diva-227362">https://urn.kb.se/resolve?urn=urn:nbn:se:umu:diva-227362</a>
                .
            </p>
        </object>

    </div>
</main>

{% include 'footer.html' %}