<footer class="bg-folder text-center py-4 mt-auto">
    <!-- Contact icons -->
    <div class="container mb-3">
        <div class="d-flex justify-content-center gap-4">
            <a href="https://www.linkedin.com/in/andreas-sellstone-9465462b3" class="text-dark icon-hover-circle-f" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin-in fa-lg"></i>
            </a>
            <a href="mailto:andreas.sellstone@gmail.com" class="text-dark icon-hover-circle-f" aria-label="Email">
                <i class="fa-solid fa-envelope fa-lg"></i>
            </a>
        </div>
    </div>

    <!-- Copyright -->
    <div class="container">
        <p class="mb-0">&copy; 2025 Andreas Sellstone.</p>
    </div>
</footer>

<!-- Return to Top button -->
<button id="return-to-top" class="return-to-top">
    <i class="fa-solid fa-arrow-up" style="margin-right: 10px;"></i>
    Return to top
</button>

<!-- JS -->
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"></script>

</body>
</html>