{% include 'header.html' %}

<main class="container mb-5 main-padding">

    <!-- Intro Section -->
    <section class="mb-5 full-page">
        <h1 id="header-typing-container" class="display-4">
            <span id="header-typing" class="text-me typing-cursor">&nbsp;</span>
        </h1>

        <p>
        I am a cognitive scientist with an interest for understanding how people engage with technology. My academic work has explored how different cognitive processes are involved in interactions with technology, and how behavioral insights can be leveraged to develop more effective and user-centered technology. While my research has primarily focused on language use in human-computer interactions, my other projects have a broad scope of the application of cognitive science to the use and development of technology.
        </p>

        <p id="paragraph-typing-container" class="mt-1">
            <span id="paragraph-typing">&nbsp;</span>
        </p>
    </section>

    <!-- Projects Overview -->
    {% include 'project_list.html' %}

</main>

{% include 'footer.html' %}